html, body{

}
#like_button:before{
  content:"\f087";
}
#like_button:hover:before{
  content:"\f164";
}
#unlike_button:before{
  content:"\f164";
}
#unlike_button:hover:before{
  content:"\f087";
}
#edit_button:before{
  content:"\f040";
}
#edit_button:hover:before{
  content:"\f040";
  color: yellow;
}
#delete_button:before{
  content:"\f1f8";

}
#delete_button:hover:before{
  content:"\f014";
  color:red;
}
.send-btn {
  border:1px solid rgba(13, 17, 198, 0.69);
  color:rgba(13, 17, 198, 0.69);
  background-color: transparent;
  border-radius:40px;
}
.send-btn:hover {
  background-color: rgba(13, 17, 198, 0.69);
  color: #fff;
}

.form-transparent{
  background-color: rgba(0,0,0,0.1);
  margin-bottom:1px;
}

.custom-form-label{
  font-size:22px;
}

.bg-gradient{
  background: -moz-linear-gradient(45deg, rgba(213, 15, 61, 0.6), rgba(184, 185, 224, 0.69) 100%);
  background: -webkit-linear-gradient(45deg, rgba(213, 15, 61, 0.6), rgba(13, 17, 198, 0.69) 100%);
  background: linear-gradient(45deg, rgba(213, 15, 61, 0.6), rgba(13, 17, 198, 0.69) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.custom-bg-t{
  background-color: rgba(0, 0, 0, 0.1);
}

.custom_user_questions_list_title{
  font-size:42px;
  border-bottom:4px solid rgba(0, 0, 0, 0.1);
}

.custom_user_menu_list_title {
  font-size: 20px;
  border-bottom: 4px solid rgba(0, 0, 0, 0.1);
}

.follow_button{
  color:#fff;
  border:2px solid #fff;
  width: 120px;
}

.custom-login-button{
  color:#fff;
  border:2px solid #fff;
  min-width: 42px;
}

.custom-social-button{
  border-width:3px;
  min-width: 40px;
}

.font-30{
  font-size: 30px;
  height:200px;
}

.user-menu-title {
  font-size: 36px;
  border-bottom:4px solid rgba(0, 0, 0, 0.1);
}

.liked-list {
  font-size:24px;
  background-color: rgba(0, 0, 0, 0.1);
  border-top:1px solid rgba(0, 0, 0, 0.1);
}

.logo{
  font-size:32px;
}

.custom-card-title {
  font-size:40px;
}

.circular--square {
  border-radius: 50%;
}

.title-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}


/* Shared */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}

.loginBtn--google {
  /*font-family: "Roboto", Roboto, arial, sans-serif;*/
  background: #DD4B39;
}
.loginBtn--google:before {
  border-right: #BB3F30 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
}
.loginBtn--google:hover,
.loginBtn--google:focus {
  background: #E74B37;
}

@media only screen and (max-width: 445px) {
  .facebook-login-title{
    text-indent: -9999px;
    line-height: 0; /* Collapse the original line */
  }
  .facebook-login-title::after {
    content: "Login";
    text-indent: 0;
    display: block;
    line-height: 34px; /* New content takes up original line height */
  }
}

.custom-form-inline{
  width: 100%;
}

.login-button-inline{
  color:#fff;
  border:2px solid #fff;
  width: 100px;
}