html, body{

}
#like_button:before{
  content:"\f087";
}
#like_button:hover:before{
  content:"\f164";
}
#unlike_button:before{
  content:"\f164";
}
#unlike_button:hover:before{
  content:"\f087";
}
#edit_button:before{
  content:"\f040";
}
#edit_button:hover:before{
  content:"\f040";
  color: yellow;
}
#delete_button:before{
  content:"\f1f8";

}
#delete_button:hover:before{
  content:"\f014";
  color:red;
}
.send-btn {
  border:1px solid rgba(13, 17, 198, 0.69);
  color:rgba(13, 17, 198, 0.69);
  background-color: transparent;
  border-radius:40px;
}
.send-btn:hover {
  background-color: rgba(13, 17, 198, 0.69);
  color: #fff;
}

.form-transparent{
  background-color: rgba(0,0,0,0.1);
  margin-bottom:1px;
}

.custom-form-label{
  font-size:22px;
}

.bg-gradient{
  background: -moz-linear-gradient(45deg, rgba(213, 15, 61, 0.6), rgba(184, 185, 224, 0.69) 100%);
  background: -webkit-linear-gradient(45deg, rgba(213, 15, 61, 0.6), rgba(13, 17, 198, 0.69) 100%);
  background: linear-gradient(45deg, rgba(213, 15, 61, 0.6), rgba(13, 17, 198, 0.69) 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.custom-bg-t{
  background-color: rgba(0, 0, 0, 0.1);
}

.custom_user_questions_list_title{
  font-size:42px;
  border-bottom:4px solid rgba(0, 0, 0, 0.1);
}

.custom_user_menu_list_title {
  font-size: 20px;
  border-bottom: 4px solid rgba(0, 0, 0, 0.1);
}

.follow_button{
  color:#fff;
  border:2px solid #fff;
  max-width: 150px;
}

.font-30{
  font-size: 30px;
  height:200px;
}

.user-menu-title {
  font-size: 36px;
  border-bottom:4px solid rgba(0, 0, 0, 0.1);
}

.liked-list {
  font-size:24px;
  background-color: rgba(0, 0, 0, 0.1);
  border-top:1px solid rgba(0, 0, 0, 0.1);
}

.logo{
  font-size:32px;
}

.custom-card-title {
  font-size:40px;
}

.circular--square {
  border-radius: 50%;
}

.title-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}